<h1>My Matches</h1>

<%= link_to "Refresh Matches", "matches#refresh_matches", class: "btn btn-outline-success btn-sm" %>

<% if current_user.matched_pets.nil?%>
  <p>No pets currently match your preferences. Update your preferences or check back later.</p>
<% else %>
  <div class="row row-cols-1 row-cols-md-3">
    <% current_user.matched_pets.each do |pet| %>
      <%= render "pets/pet_card", pet: pet %>
  </div>
  <% end %>
<% end %>